/* @font-face{
    font-family: 'Graphi';
    src: url(./assets/GraphikSemibold.otf);
}
@font-face{
    font-family: 'Graphik';
    src: url(./assets/GraphikRegular.otf);
} */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
    line-height: 130%;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}

body{
    background-color: #121316;
    color: rgba(255, 255, 255, 0.9);
    cursor: default;
}

header{
    margin: 36px 10%;
    height: 100vh;
}

.backdrop{
    background: linear-gradient(137deg, rgba(53, 53, 53, 0.31) 0%, rgba(99, 99, 99, 0.14) 80%);
    -webkit-filter: blur(10px);
            filter: blur(10px); 
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -10;
    top: -10px;
}

.back2{
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100vh;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 19, 22, 0.00)), to(#121316));
    background: linear-gradient(180deg, rgba(18, 19, 22, 0.00) 0%, #121316 100%);
}

.color_blur{
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-filter: blur(70px);
            filter: blur(70px);
    opacity: 0.3;
    /* background: linear-gradient(180deg, rgba(18, 19, 22, 0.00) 0%, #121316 100%); */
}
.square, .triangle{
    width: 347px;
    height: 240px; 
    opacity: 0.25;
    background: #DED0AB;
    -webkit-filter: blur(80px);
            filter: blur(80px);
}
.circle{
    width: 448px;
    height: 311px;
    border-radius: 448px;
    opacity: 0.37;
    background: #A78282;
    -webkit-filter: blur(75px);
            filter: blur(75px);
}
.triangle{background: #8EADBF; opacity: 0.37;}

.logo{opacity: 0.99;}

nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 100;
}
.thenav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 100px;
    background-color: rgba(20, 21, 24, 0.8);
    padding: 8px 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);

    position: fixed;
    z-index: 1000;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
nav li{
    padding: 10px 38px;
    list-style: none;
}

.link{
  color: rgba(255, 255, 255, 0.8); 
  text-align: center; 
  -webkit-transition: all 0.1s ease-in; 
  transition: all 0.1s ease-in;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}


.hero{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    z-index: 101;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 62%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.hero h1{font-size: 56px; margin-bottom: 10px; font-weight: 800}
.hero h3{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
}

.hero img{width: 200px}

.block{
    mix-blend-mode: multiply; 
    position: absolute;
    left: 0;
    bottom: -50px;
}



/* ==========================================
WORKS
============================================ */



.work_section{
    margin: 10%;
}

.work_section h1{
    font-size: 1.8rem; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 5%;
}

.works{
    display: grid;
    grid-template-columns: 32.4% 32.4% 32.4%;
    grid-column-gap: 1.3%;
    grid-row-gap: 2%;

    margin-bottom: 100px;
}

.work{
    position: relative; 
    width: 100%; 
    margin-bottom: 2.5%;
    height: 424px;
}

.work img{
    border-radius: 16px;
    width: 100%;
}

.fwork:hover{
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-transition: transform 300ms ease-in;
    -webkit-transition: -webkit-transform 300ms ease-in;
    transition: -webkit-transform 300ms ease-in;
    transition: transform 300ms ease-in;
    transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

.works h5{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #fff;
    font-size: 16px;
    -webkit-transition: ease-in-out;
    transition: ease-in-out;
}

.fworks{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff;
}

.jam{
    background: url(./assets/jamitan-mock2.jpg); 
    -ms-flex-preferred-size: 39%; 
        flex-basis: 39%;
    color: #fff;
}
.ze{
    background: url(./assets/zeenah3.jpg); 
    -ms-flex-preferred-size: 58%; 
        flex-basis: 58%; 
    background-size: 780px !important;
    color: #160e1b;
}
.oli{
    background: url(./assets/oligosmock.jpg);
    -ms-flex-preferred-size: 39%;
        flex-basis: 39%;
    background-position-y: 20%;
    color: #fff;
}
.anti{
    background: url(./assets/GG.jpg); 
    -ms-flex-preferred-size: 58%; 
        flex-basis: 58%;
    background-position-y: 100%;
    color: #D1852C;
}
.dao{
    background: url(./assets/dao.jpg); 
    -ms-flex-preferred-size: 58%; 
        flex-basis: 58%;
    background-position-y: 25%;
    color: #fff;
}
.eco{
    background: url(./assets/ecokrib-mockup.jpg);
    -ms-flex-preferred-size: 39%;
        flex-basis: 39%;
    background-position-y: 120%;
    background-size: 680px !important;
    color: #fff;
}

.fwork {
    height: 504px;
    background-size: cover;
    border-radius: 24px;
    background-position-x: 50%;
    margin-bottom: 22px;
    position: relative;
    display: block;
}


.fwork h5{
    position: absolute;
    top: 0;
    left: 0;
    padding: 7%;
    font-size: 24px;
    z-index: 99;
}

.fwork p{font-size: 14px; font-weight: 400; opacity: 0.8;}

/* ==========================================
ABOUT
============================================ */



.about_section{
    margin: 36px 10%;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.17);
    background: linear-gradient(180deg, rgba(157, 157, 157, 0.08) 0%, rgba(0, 0, 0, 0.08) 100%), linear-gradient(135deg, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.1) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about{padding: 32px 48px}
.about h1{
    font-size: 2rem;
    margin-bottom: 16px;
}
.about div{margin-bottom: 12px}
.about p{font-weight: 400;}

.about_section img{
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding-right: 32px;
}



/* ==========================================
FOOTER
============================================ */


footer{
    margin: 7% 10% 0 10%;
    text-align: center;
}

hr{margin-bottom: 7%; opacity: 0.2}

.icons{
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.icons img{margin: 44px 24px 56px 24px; -webkit-transition: all 0.1s ease-in; transition: all 0.1s ease-in;-webkit-transition-delay: 0.15s;transition-delay: 0.15s;}

.rights{
    background-color: #191A1D;
    text-align: center;
    padding: 24px;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
    color: rgba(255, 255, 255, 0.4);
}


.rights svg{margin-right: 3px; opacity: 0.4; padding-top: 4px}








/* ---------------------------------------------
MODE TOGGLE
------------------------------------ */





.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
  @media (min-width: 500px) {
    .container {
      width: 50%;
    }
  }
  .container .title {
    text-align: center;
  }
  .container .content {
    text-align: justify;
  }
  .container input[type=checkbox] {
    display: none;
  }
  
  .btn {
    -ms-flex-item-align: center;
        align-self: center;
  }
  
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 76px;
    height: 38px;
    background-color: black;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
    border-radius: 30px;
    cursor: pointer;
    background-color: #fbfbfb;
  }
  .box .ball {
    width: 39px;
    height: 39px;
    background-color: grey;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #191A1D;
    -webkit-transform:translatex(100%);
            transform:translatex(100%);
  }
  .box .scenary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    padding: 5px 10px 0px 10px;
  }
  .box .scenary svg {
    width: 25px;
  }







/* ---------------------------------------------
mobile nav
------------------------------------ */







  .window .header {
    position: absolute;
    display: block;
    top: 0px;
    left: 0;
    height: 90px;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.8); */
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out, background 1s ease-out;
    transition: all 0.5s ease-out, background 1s ease-out;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    z-index: 10000;
  }
  .window .header .burger-container {
    position: absolute;
    top: 32px;
    right: 8%;
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .window .header .burger-container #burger {
    width: 18px;
    height: 8px;
    position: relative;
    display: block;
    margin: -4px auto 0;
    top: 50%;
  }
  .window .header .burger-container #burger .bar {
    width: 22px;
    border-radius: 2px;
    height: 2px;
    display: block;
    position: relative;
    background: #FFF;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .window .header .burger-container #burger .bar.topBar {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  .window .header .burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(6px) rotate(0deg);
            transform: translateY(6px) rotate(0deg);
  }
  .window .header .icon {
    display: inline-block;
    position: absolute;
    height: 100%;
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #FFF;
    font-size: 22px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .window .header ul.menu {
    position: relative;
    display: block;
    padding: 80px 48px ;
    list-style: none;
  }
  .window .header ul.menu li.menu-item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 24px auto;
    margin-top: 24px;
    -webkit-transform: scale(1.15) translateY(-30px);
            transform: scale(1.15) translateY(-30px);
    opacity: 0;
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
  .window .header ul.menu li.menu-item:nth-child(1) {
    -webkit-transition-delay: 0.49s;
            transition-delay: 0.49s;
  }
  .window .header ul.menu li.menu-item:nth-child(2) {
    -webkit-transition-delay: 0.42s;
            transition-delay: 0.42s;
  }
  .window .header ul.menu li.menu-item:nth-child(3) {
    -webkit-transition-delay: 0.35s;
            transition-delay: 0.35s;
  }
  .window .header ul.menu li.menu-item:nth-child(4) {
    -webkit-transition-delay: 0.28s;
            transition-delay: 0.28s;
  }
  .window .header ul.menu li.menu-item:nth-child(5) {
    -webkit-transition-delay: 0.21s;
            transition-delay: 0.21s;
  }
  .window .header ul.menu li.menu-item:nth-child(6) {
    -webkit-transition-delay: 0.14s;
            transition-delay: 0.14s;
  }
  .window .header ul.menu li.menu-item:nth-child(7) {
    -webkit-transition-delay: 0.07s;
            transition-delay: 0.07s;
  }
  .window .header ul.menu li.menu-item a {
    display: block;
    position: relative;
    color: #FFF;
    /* font-family: "Ek Mukta", sans-serif; */
    font-weight: 100;
    text-decoration: none;
    font-size: 22px;
    line-height: 2.35;
    font-weight: 200;
    width: 100%;
  }
  .window .menu-opened {
    height: 440px !important;
    background-color: #121316ea;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    -webkit-transition: all 0.3s ease-in, background 0.1s ease-in;
    transition: all 0.3s ease-in, background 0.1s ease-in;
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  .window .header.menu-opened .burger-container {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .window .header.menu-opened .burger-container #burger .bar {
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .window .header.menu-opened .burger-container #burger .bar.topBar {
    -webkit-transform: translateY(4px) rotate(45deg);
            transform: translateY(4px) rotate(45deg);
  }
  .window .header.menu-opened .burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .window .header.menu-opened ul.menu li.menu-item {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1;
  }
  .window .header.menu-opened ul.menu li.menu-item:nth-child(1) {
    -webkit-transition-delay: 0.27s;
            transition-delay: 0.27s;
  }
  .window .header.menu-opened ul.menu li.menu-item:nth-child(2) {
    -webkit-transition-delay: 0.34s;
            transition-delay: 0.34s;
  }
  .window .header.menu-opened ul.menu li.menu-item:nth-child(3) {
    -webkit-transition-delay: 0.41s;
            transition-delay: 0.41s;
  }
  .window .header.menu-opened ul.menu li.menu-item:nth-child(4) {
    -webkit-transition-delay: 0.48s;
            transition-delay: 0.48s;
  }
  .window .header.menu-opened ul.menu li.menu-item:nth-child(5) {
    -webkit-transition-delay: 0.55s;
            transition-delay: 0.55s;
  }
  .window .header.menu-opened ul.menu li.menu-item:nth-child(6) {
    -webkit-transition-delay: 0.62s;
            transition-delay: 0.62s;
  }
  .window .header.menu-opened ul.menu li.menu-item:nth-child(7) {
    -webkit-transition-delay: 0.69s;
            transition-delay: 0.69s;
  }
  .window .header.menu-opened .icon.icon-bag {
    -webkit-transform: translateX(75px);
            transform: translateX(75px);
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .window .content {
    padding: 67px 4% 0;
    text-align: justify;
    overflow: scroll;
    max-height: 100%;
  }
  .window .content::-webkit-scrollbar {
    display: none;
  }
  .window .content h2 {
    margin-bottom: 0px;
    letter-spacing: 1px;
  }
  .window .content img {
    width: 95%;
    position: relative;
    display: block;
    margin: 75px auto 75px;
  }
  .window .content img:nth-of-type(2) {
    margin: 75px auto;
  }
  @media (max-width: 600px) {
    .window {
      width: 100%;
      /* height: 60vh; */
      margin: 0;
      border-radius: 0px;
      z-index: 10000;
    }
    .window .header {
      position: fixed;
    }
  }

  .scroll_mobile_nav{
      position: fixed !important;
      height: 64px !important;
      background-color: #121316ea;
      -webkit-backdrop-filter: blur(10px);
              backdrop-filter: blur(10px);
  }

  .b_top{top: 6px !important;}

  .mobile_mode .container{
    margin: 30px auto;
  }





/* ---------------------------------------------
DARK MODE
------------------------------------ */



  

  .nav_light{background-color: #d3d3d3c9;}

  .ball_left{-webkit-transform:translatex(0%) !important;transform:translatex(0%) !important;}

  .bg_light{background-color:#f5f5f5; color:#202125;}

  .invert{
    -webkit-filter: invert(1);filter: invert(1); 
    opacity: 0.8;     
    -webkit-transition: all 0.1s ease-in;     
    transition: all 0.1s ease-in;
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }

  .toggle_dark{background-color: #202125;}

  .dark_footer{background-color:#eaeaea; color: rgba(0, 0, 0, 0.4)}

  .dark_text{color:#202125 !important}
  .dark_text2{color:#363636 !important}

  .dark_backdrop{background: linear-gradient(137deg, rgba(255, 255, 255, 0.00) 0%, #FBFBFB 100%);}
  .dark_back2{background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(93.59%, rgba(255, 255, 255, 0.14)));background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.14) 93.59%);}


.menu-opened.light_nav.scroll_mobile_nav{
    background-color: #eaeaeaeb !important;    
    -webkit-transition: all 0.1s ease-in;    
    transition: all 0.1s ease-in;
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  .scroll_mobile_nav.light_nav{
    background-color: #eaeaeaeb !important;    
  }
  .menu-opened.light_nav{
    background-color: #eaeaeaeb !important;    
  }
















@media(max-width: 1020px){
  .work_section, .about_section{margin: 5%} 
  .hero h1{font-size: 46px}; 
  .hero{width: 80%;}
  .icons img {margin: 44px 24px;};
  footer{margin: auto 5%;};
}


@media(max-width: 810px){
    .works, .about_section{display: block; margin: 10% 16px;}

    .work_section{margin: 5% 16px}
    .work{margin-bottom: 6px;}

    hr{margin-bottom: 60px}

    .about{padding: 24px}

    .about_section img, .thenav, .mode, .color_blur{display: none}

    .fworks, footer{display: block}

    .oli{background-position-y: 100%}

    .window{display: block; width: 100%}

    .link{font-weight: 500}

    footer{margin: auto 5%};

    /* .hero{width: 80%;} */
}

@media(min-width: 811px){.window{display: none};}


@media(max-width:1019px) and (min-width: 809px){.jam{background-size: 610px !important}; }

@media(max-width:809px) and (min-width: 577px){.hero_text h1{font-size: 2.1rem}; .hero img{width: 30%}}

@media(max-width: 578px){
    .hero{
        text-align: center; 
        display: block; 
        padding: 16px;
        width: 100%;
    }
    .hero_text h1{font-size: 2.2rem}
    .hero_text h3{font-size: 1.1rem; margin: 8px;font-weight: 100;}

    .hero img{margin-top: 46px; width: 55%}

    .fwork{height: 366px;}
    .fwork h5{padding: 22px}

    .eco{background-position-y: -240%; background-size: 580px !important}
    .ze{background-size: 580px !important}

    .fwork p{font-weight: 100}

    .about_section{margin: 20% 16px}
}





